<h1>Hi, <%= current_user.first_name if current_user%> </h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- everything inside is going to be rendered in the page
    and it s considered as ruby code -->
<h1>Blog posts</h1>
<%= @posts.inspect %>
<h1>Skills</h1>
<%= @skills.inspect %>